.navbar {
    height: 50px;
    width: 100%;
    background-color: black;
    margin-bottom: 10px;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: black;
  height: 30px;
}


body, #root {
  margin: 0;
}

.qr-form-body {
    padding: 20px;
}

.css-1usuzwp-MuiButtonBase-root-MuiTab-root.Mui-selected {
    color: white !important;
}

.css-1qltlow-MuiTabs-indicator {
    background-color: #FFFFFF !important;
}

.inventory-button {
    text-align: center;
}

.label-name {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    padding-bottom: 8px;
}

.color-picker {
    height: 24px;
    width: 100%;
    outline: 2px solid black;
    padding: 2px;
    margin-bottom: 14px;
    margin-top: 14px;
    cursor: pointer;
}

.color-picker-icon {
    height: 25px;
    width: 100%;
    outline: 2px solid black;
    padding: 2px;
    margin-bottom: 14px;
    margin-top: 14px;
}